*{
  margin: 0;
  padding:0;
  font-family:'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.App {
  background: #99efff;
  height: 100vh;
  text-align: center;
  z-index: -9999;
  /* background-color: #004278; */
}
/* animation */
.ele{
  height: 25vh;
  width: 25vw;
  padding: 100px;
  z-index: -99;
  animation: rotation 24s infinite linear alternate;
  overflow: hidden;
}


@keyframes rotation {
    from{
      opacity: 0;
      transform: rotate(0deg);
      position:
    }
    to{
      opacity: 0.5;
      transform: rotate(360deg);
    }

}


/* Login Page...........Signup................... */
.Login-container{
  position: absolute;
  padding: 20px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 40vw;
  height: auto;
  border-radius: 10px;
  background: rgb(213,221,255);
  background: #fff7ef;
  }
  .Input h1{
    font-size: 28px;
    margin: 10px;
    font-weight: bold;
  }



form {
  color: #001536;
  text-align: center;
  align-items: center;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form input{
  margin: 15px;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 18px;
  padding: 5px;
}
form input:focus{
  outline: none;

}

.sbt-btn{
  cursor: pointer;
  color: white;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  width: 20%;
  background-color: #001536;
}

.sbt-btn:hover,
.sbt-btn:focus{
  background-color: #452470;
}

.btn-sgn{
  text-decoration: none;
  color: #001536;
  font-size: 19px;
}

/* .btn-sgn::selection */
.btn-sgn:focus
.btn-sgn:hover
{
color: #452470;
}


/* .............................................NavBar.................................... */
.nav-container{
  /* display: block; */
  width: 100%;
  height: 60px;
  margin: 0;
  position: fixed;
  z-index: 999;
  background-color: #85d8ff;

}
.burger{
  cursor: pointer;
  position: absolute;
  display: flex;
  top:0.75rem;
  right:1rem;
  flex-direction: column;
  align-items: center;
  float: right;
  display: none;
}
.burger div{
  border-radius: 50px;
  height: 3px;
  width: 25px;
  background: #fff;
  margin : 3px;
}
  .nav-items{
    display: none;
    background-color: #85d8ff;
    transition: color 2s;
  }
  .nav-items i{
    color: white;
  }
.navbar{
  float: right;
  font-size: 25px;
  padding: 14px 16px;
}

.navbar .Link{
  color: #fff;

}

li{
  display: inline;
  margin: 10px;
}


.Link{
  font-weight: bold;
  font-size: 25px;
  height: 50px;
  color: white;
}

.home-container{
  height: 100vh;
  background: #f3f9ff;

}
.home-button{
  left:0;
  width:100px;
}
/* .............................................Input Container................................. */

.pic-inp{
  opacity: 0;
}
.post-img{
  padding: 10px;
  /* background-color: #eee; */
  align-items: center;
  min-width: 200px;
  border: rgba(0, 0, 0, 0.2) solid 1px;

}

img{
  padding: 10px;
}
.name-price{
  flex:1;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
.name-price textarea {
  font-size: 10pt;
  padding: 5px;
  border:none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 0px;

  /* width: auto; */
}
.text-input{
  height: 20px;
  resize: none;
}
.text-input-description{
  /* height: auto; */
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 0px;
  height: 200px;
  resize: none;
}


textarea:focus{
  outline: none;
}

.createPost{
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}
.inp-btn{
  background: #eee;
  position: relative;
  cursor: pointer;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-bottom-style: none;

}
.inp-btn lable{
  color: black;
}

.post-inp{
  width: 80vw;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius:5px;
}

.post-img-capt{
  display: flex;
  max-width: 80vw;
}
.post-img-capt img{
  padding:10px;
  width: 300px;
  max-height: auto;
  /* border: rgba(0, 0, 0, 0.2) solid 1px; */
}



.post-button{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0px;
}

.post-button input{
  border:none;
  cursor: pointer;
  flex: 1;
  /* background: transparent; */
  background: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 0;
}
input[value="Post"]{
  border-left: grey solid 1px;
  border-right: grey solid 1px;
}


/*.........................................Post Container................................*/
.post-header{
  /* width: 100%; */
  height: 30px;
  background-color: #85d8ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Post-page{
  /* word-wrap: break-word; */
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f3f9ff;
  /* overflow-x: hidden; */
}
.Post-containers{
  margin: 0 auto;
  display: flex;
  width: 80vw;
}
.Post-content{
  /* flex: 1; */
  /* display: flex; */
  background: #fff;
  border-bottom: 1px solid lightgrey;
  /* justify-content: space-around; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  /* display: inline-block; */
}

.Post-containers ul{
  flex-wrap:wrap;
  width: 80vw;
  margin: 0 auto;
  flex-direction: column;
}
input[Delete]{
  text-decoration: none;
  border: none;
}

#del{
  opacity: 0;
}
.material-icons{
  color:#85d8ff;
  cursor: pointer;
}
.post-text{
  word-wrap: break-all;
  overflow:visible;
  padding: 10px;
}

.buy-btn{
  font-weight: bold;
  color: red;
}


@media only screen and (max-width: 775px) {
  .Login-container{

    width: 80vw;
    border-radius: 5px;
    }
    form input{
      margin: 5px;
      width: 90%;
      height: 25px;
    }
    .sbt-btn{
      height: 40px;
      font-size: 20px;
      width: 40%;
      background-color: #001536;
    }
  .post-img-capt{
    display: flex;
    flex-direction: column;
  }
  .post-img-capt img{
    width: auto;
    max-width: 70vw;
    min-width: 10vw;
  }
  .caption{
    display: flex;
    padding: 10px;

  }
  .navbar .Link{
    display:none;
  }
  .burger{
    display: flex;
  }
  .nav-items{
    align-items: flex-end;
    position: absolute;
    top:3rem;
    right:0.75rem;
    display: flex;
    flex-direction: column;
  }
  .nav-items i{
    margin: 10px;
  }

}
